html{
    background: url(./img/background.jpg) no-repeat center fixed;
    background-size: cover;
}

.menu-item{
    display: inline-block;
    background-color: #DBDEFF;
    padding: 1.2rem 2.4rem;
    line-height: 105%;
    color: #45484d;
    transition: all .3s;
}

.menu-item:hover{
    background-color:#FFF7FA ;
}

.container{
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
}