
/* Style Header */
header{
    top: 0;
    width: 100%;
    height: 8.8rem;
    background-color: #5A6095;
    display: flex;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin-right: 3.2rem;
}

header nav ul li:last-child{
    margin-right: 0;
}

img{
    max-width: 100%;
    display: block;
}

/* Style Selection Hero */

.s-hero{
    padding: 5.3rem 0;
}

.s-hero .container{
    justify-content: space-between;
    align-items: center;
}

.s-hero .text{
    text-align: center;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
}

.s-hero .text h1{
    font-size: 4.5rem;
}

.s-hero .text h5{
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.s-hero .text p{
    font-size: 1.8rem;
    line-height: 150%;
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
}

/*  */

.form{
    text-align: center;
    justify-content: center;
}

.form p{
    padding-bottom: 1.5rem;
}

.form input{
    padding: 5px 10px;
}

.form .btn{
    padding: 5px 10px;
    background-color: #DBDEFF;
    color: #45484d;
    transition: all .3s;
}

.form .btn:hover{
    background-color: #FFF7FA;
}